Flask==0.10.1
Flask-SocketIO==0.5.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.1
backports.ssl-match-hostname==3.4.0.2
cffi==0.8.6
gevent==1.0dev
gevent-socketio==0.3.6
gevent-websocket==0.9.3
greenlet==0.4.0
inflect==0.2.5
itsdangerous==0.24
pypycore==0.1
readline==6.2.4.1
six==1.9.0
websocket-client==0.23.0
wsgiref==0.1.2
